<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Configura la vista para dispositivos móviles -->
    <link
      rel="icon"
      href="img/FotosGenerales/LogoBarberia.png"
      type="image/jpeg"
    />
    <!-- Ícono del sitio -->
    <title>Servicios - Peluquería Barbers</title>

    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/specificFiles/servicios.css" />
  </head>
  <body>
    <!-- Cabecera -->
    <app-header></app-header>
    <!-- Cuerpo de la pagina-->
    <main>
      <app-pallarax></app-pallarax>
      <!-- Sección de comentarios -->
      <section class="comentarios">
        <h2 class="h2titulos">Opiniones de Nuestros Clientes</h2>
        <!-- comentarios carlos -->
        <div class="comentario">
          <img src="img/clientes/carlos.jpg" alt="Cliente 1" />
          <div class="texto">
            <p>
              "Un excelente servicio, atención profesional y un corte impecable.
              El personal fue muy amable y escuchó exactamente lo que quería. Me
              hicieron sentir muy cómodo durante toda la visita.
              ¡Definitivamente regresaré!"
            </p>
            <p class="cliente">- Carlos M.</p>
          </div>
        </div>
        <!-- comentarios Laura -->
        <div class="comentario">
          <img src="img/clientes/Laura.png" alt="Cliente 2" />
          <div class="texto">
            <p>
              "Me encantó el ambiente y la calidad del corte. La barbería tiene
              un estilo increíble y los barberos son unos verdaderos artistas.Mi
              hijo salio renovado y con un look espectacular. ¡Muy
              recomendable!"
            </p>
            <p class="cliente">- Laura R.</p>
          </div>
        </div>
        <!-- comentarios Andres -->
        <div class="comentario">
          <img src="img/clientes/andre.jpg" alt="Cliente 3" />
          <div class="texto">
            <p>
              "El mejor arreglo de barba que he tenido. Atención de primera y
              resultado perfecto. Se tomaron el tiempo necesario para asegurarse
              de que todo quedara perfecto, y el ambiente relajante hizo que la
              experiencia fuera aún mejor."
            </p>
            <p class="cliente">- Andrés G.</p>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>

    <!-- Parte de Modal -->

    <!-- Modal Servicio Corte Pelo-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal(1)">&times;</span>
        <h2>Corte al Gusto</h2>
        <img src="img/Servicios/cortePelo.png" alt="Corte de pelo" />
        <p>Un corte tradicional y elegante para cualquier ocasión.</p>
      </div>
    </div>
    <!-- Modal Servicio Barba-->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal(2)">&times;</span>
        <h2>Arreglo de Barba</h2>
        <img src="img/Servicios/Barba.png" alt="Corte de barba" />
        <p>
          Definición y estilo para tu barba, con afeitado a navaja si lo
          prefieres
        </p>
      </div>
    </div>
    <!-- Modal Servicio corteBarbaPelo-->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal(3)">&times;</span>
        <h2>Corte y Arreglo de Barba</h2>
        <img
          src="img/Servicios/CorteBarbaPelo.png"
          alt="Corte de pelo y barba"
        />
        <p>
          Las últimas tendencias en cortes y afeitados de barbas masculinos.
        </p>
      </div>
    </div>
    <!-- Modal Servicio tinte-->
    <div id="modal4" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal(4)">&times;</span>
        <h2>Coloración y Tintes de Pelo</h2>
        <img src="img/Servicios/tinte.png" alt="tinte" />
        <p>Tintes y reflejos para un look renovado y moderno.</p>
      </div>
    </div>

    <!-- Script esconder header -->
    <script src="js/hideHeader.js"></script>
    <!-- Script menu hamburguesa en pantallas moviles -->
    <script src="js/toggleMenu.js"></script>
    <!-- Script funcionalidades modal -->
    <script src="js/modal.js"></script>
  </body>
</html>
