<section class="comentarios">
  <h2 class="h2titulos">Opiniones de Nuestros Clientes</h2>
  <!-- comentarios carlos -->
  <div class="comentario">
    <img src="img/clientes/carlos.jpg" alt="Cliente 1" />
    <div class="texto">
      <p>
        "Un excelente servicio, atención profesional y un corte impecable. El
        personal fue muy amable y escuchó exactamente lo que quería. Me hicieron
        sentir muy cómodo durante toda la visita. ¡Definitivamente regresaré!"
      </p>
      <p class="cliente">- Carlos M.</p>
    </div>
  </div>
  <!-- comentarios Laura -->
  <div class="comentario">
    <img src="img/clientes/Laura.png" alt="Cliente 2" />
    <div class="texto">
      <p>
        "Me encantó el ambiente y la calidad del corte. La barbería tiene un
        estilo increíble y los barberos son unos verdaderos artistas.Mi hijo
        salio renovado y con un look espectacular. ¡Muy recomendable!"
      </p>
      <p class="cliente">- Laura R.</p>
    </div>
  </div>
  <!-- comentarios Andres -->
  <div class="comentario">
    <img src="img/clientes/andre.jpg" alt="Cliente 3" />
    <div class="texto">
      <p>
        "El mejor arreglo de barba que he tenido. Atención de primera y
        resultado perfecto. Se tomaron el tiempo necesario para asegurarse de
        que todo quedara perfecto, y el ambiente relajante hizo que la
        experiencia fuera aún mejor."
      </p>
      <p class="cliente">- Andrés G.</p>
    </div>
  </div>
</section>
