<header>
    <!-- Logo con enlace a la portada -->
    <a href="portada.html">
      <img
        class="imagen"
        ng-src="../../assets/img/LogoBarberia.png"
        alt="Logo de la Peluquería"
      />
    </a>
    <div class="menu-toggle" onclick="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <!-- Menú de navegación -->
    <nav id="menu">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="pagina2.html">Equipo</a></li>
        <li><a href="pagina3.html">Servicios</a></li>
        <li><a href="pagina4.html">Contacto</a></li>
        <li><a href="AcercaDe.html">Acerca de</a></li>
      </ul>
    </nav>
  </header>