<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Configura la vista para dispositivos móviles -->
    <link
      rel="icon"
      href="../../assets/img/FotosGenerales/LogoBarberia.png"
      type="image/jpeg"
    />
    <!-- Ícono del sitio -->
    <title>Equipo - Peluquería Barbers</title>

  </head>
  <body>
    <!-- Cuerpo de la pagina-->
    <main>
      <div class="parallax"></div>
      <!-- Sección de miembros Barberia -->
      <section>
        <h2>Conoce a nuestro equipo</h2>
        <p>
          En Peluquería Barbers, nuestro equipo está formado por profesionales
          altamente capacitados que se apasionan por <br />
          ofrecerte el mejor servicio. Con experiencia y dedicación, estamos
          aquí para ayudarte a lograr el estilo que buscas.
        </p>
        <div class="container">
          <!-- Miembro 1:JuanPerez -->
          <div class="team-member">
            <img src="../../assets/img/equipo/juanPerez.jpg" alt="Miembro del equipo" />
            <h3>Juan Pérez</h3>
            <p>Barbero Principal</p>
            <button class="btn" onclick="openModal(1)">Más información</button>
          </div>
          <!-- Miembro 2:PepeLopez -->
          <div class="team-member">
            <img src="../../assets/img/equipo/pepe.png" alt="Miembro del equipo" />
            <h3>Pepe López</h3>
            <p>Barbero</p>
            <button class="btn" onclick="openModal(2)">Más información</button>
          </div>
          <!-- Miembro 3:Carlos -->
          <div class="team-member">
            <img src="../../assets/img/equipo/carlos.png" alt="Miembro del equipo" />
            <h3>Carlos García</h3>
            <p>Barbero</p>
            <button class="btn" onclick="openModal(3)">Más información</button>
          </div>
        </div>
      </section>
    </main>
    <!-- Pie de pagina -->
    <footer>
      <p>
        <a href="AcercaDe.html" class="PieDePagina"
          >Esta es una empresa ficticia y este sitio web es un proyecto de
          prácticas.<br />
          © 2025 Peluquería Barbers. Todos los derechos reservados.</a
        >
      </p>
    </footer>

    <!-- Parte de Modal -->

    <!-- Modal de jefe Juan Perez -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal(1)">&times;</span>
        <h2>Juan Pérez</h2>
        <img src="../../assets/img/equipo/juanPerez.jpg" alt="Juan Pérez" />
        <p><strong>Experiencia</strong></p>
        <p>- 12 años de experiencia</p>
        <p><strong>Especialidades</strong></p>
        <p>- Cortes de cabello clásicos y modernos</p>
        <p>- Asesoría en cuidado capilar y personalización del estilo</p>
      </div>
    </div>
    <!--Modal de empleado Pepe Lopez -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal(2)">&times;</span>
        <h2>Pepe López</h2>
        <img src="../../assets/img/equipo/pepe.png" alt="Pepe López" />
        <p><strong>Experiencia</strong></p>
        <p>- 5 años de experiencia</p>
        <p><strong>Especialidades</strong></p>
        <p>- Barbería de precisión</p>
        <p>- Coloración y tratamientos capilares</p>
      </div>
    </div>
    <!--Modal de empleado Carlos Garcia -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal(3)">&times;</span>
        <h2>Carlos García</h2>
        <img src="../../assets/img/equipo/carlos.png" alt="Carlos García" />
        <p><strong>Experiencia</strong></p>
        <p>- Más de 7 años de experiencia</p>
        <p><strong>Especialidades</strong></p>
        <p>- Cortes de cabello modernos y fades</p>
        <p>- Recortes en seco y estilización avanzada</p>
      </div>
    </div>

    <script>
      //Declarciones
      let lastScrollTop = 0;
      let isScrolling;
      const header = document.querySelector("header");

      // Oculta y muestra el header al hacer scroll
      window.addEventListener("scroll", function () {
        let scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
          header.style.top = "-100px"; // Ajusta según el tamaño de tu cabecera
        } else {
          header.style.top = "0";
        }

        clearTimeout(isScrolling);
        isScrolling = setTimeout(function () {
          header.style.top = "0";
        }, 1000);

        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
      });

      function toggleMenu() {
        const menu = document.getElementById("menu");
        menu.classList.toggle("active");
      }
      // Abrir la modal correspondiente
      function openModal(index) {
        const modal = document.getElementById(`modal${index}`);
        const blur = document.getElementById("blur");
        modal.style.display = "block";
        blur.style.display = "block";
      }

      // Cerrar la modal correspondiente
      function closeModal(index) {
        const modal = document.getElementById(`modal${index}`);
        const blur = document.getElementById("blur");
        modal.style.display = "none";
        blur.style.display = "none";
      }

      //Resetear los modal que estan abiertos
      function resetAll() {
        document
          .querySelectorAll(".modal")
          .forEach((modal) => (modal.style.display = "none"));
        document.getElementById("blur").style.display = "none";
      }
    </script>
  </body>
</html>

