

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Blenda-script", sans-serif;
}

/* Efecto de fade-in al cargar la página */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}
/* Definición de la animación de desvanecimiento */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Estilos del encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #222;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out;

  /* Navegación la cabecera */
  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 15px;
        position: relative;
        transition: transform 0.3s ease-in-out;

        a {
          color: white;
          text-decoration: none;
          font-size: 18px;
          transition: color 0.3s ease;
          font-family: "Maxlock", sans-serif;
        }

        a:hover {
          color: #ffffff;
        }
      }

      li:hover {
        transform: scale(1.1);
      }
    }
  }

  /* Imagen del logotipo */
  .imagen {
    width: 100px;
    height: auto;
    border-radius: 6%;
    transition: transform 0.5s ease;
  }

  .imagen:hover {
    transform: scale(1.1);
  }
}

/*vista horizontal*/
@media (orientation: landscape) and (max-width: 760px) {
  header {
    height: 35px;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  header {
    height: 120px;
  }
}

/* Menú responsive */
.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;

  div {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
  }
}

/* Diseño responsivo */
@media (max-width: 500px) {
  nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  nav.active {
    display: flex;
    flex-direction: column;
  }

  .menu-toggle {
    display: flex;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}
.section {
    background-color: #f8f8f8;
}
@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }

  .contenido .textoBarberia {
    order: -1;
    text-align: center;
  }

  .contenido img {
    order: 1;
    max-width: 100%;
  }
}
.parallax {
  background-image: url("../img/FotosGenerales/barberia-vigo.jpg");
  height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  /* Boton de mas informacion */
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #db7704;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
  }

  .btn:active {
    transform: scale(0.9);
  }

  .btn:hover {
    background-color: #b35f00;
  }
}

/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 400px;
    text-align: center;
    position: relative;
    /* Boton de X para salir del modal */
    .close-btn {
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      top: 10px;
      right: 25px;
      cursor: pointer;
    }
  
    .close-btn:hover,
    .close-btn:focus {
      color: black;
      text-decoration: none;
    }
  
    img {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
      border-radius: 5px;
      margin-bottom: 15px;
    }
  
    h2 {
      margin-top: 0;
      padding-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
    
    p {
      font-size: 18px;
      color: #666;
      line-height: 1.5;
    }
  }
}


footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px 30px;
  position: relative;
  bottom: 0;
  width: 100%;

  p {
    font-size: 16px;
    color: #bbb;
  }

  a {
    color: #e67e22;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .PieDePagina {
    color: #bbb;
    text-decoration: none;
  }
}

