<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Configura la vista para dispositivos móviles -->
    <link
      rel="icon"
      href="img/FotosGenerales/LogoBarberia.png"
      type="image/jpeg"
    />
    <!-- Ícono del sitio -->
    <title>Peluquería Barbers</title>

    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/specificFiles/index.css">
  </head>
  <body>
    <!-- Cabecera -->
    <header>
      <!-- Logo con enlace a la portada -->
      <a href="portada.html">
        <img
          class="imagen"
          src="img/FotosGenerales/LogoBarberia.png"
          alt="Logo de la Peluquería"
        />
      </a>
      <div class="menu-toggle" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <!-- Menú de navegación -->
      <nav id="menu">
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="pagina2.html">Equipo</a></li>
          <li><a href="pagina3.html">Servicios</a></li>
          <li><a href="pagina4.html">Contacto</a></li>
          <li><a href="AcercaDe.html">Acerca de</a></li>
        </ul>
      </nav>
    </header>

    <!-- Cuerpo de la pagina-->
    <main>
      <div class="parallax"></div>
      <section id="inicio" class="sectionIndex">
        <div class="contenido">
          <div class="textoBarberia">
            <h2>Bienvenidos a Barbers</h2>
            <p>
              En Peluquería Barbers, creemos que un buen corte de cabello no
              solo cambia tu apariencia, sino que también eleva tu confianza y
              te ayuda a sentirte como mejor te ves. Nuestra barbería es un
              lugar donde la tradición se encuentra con las últimas tendencias,
              ofreciendo una experiencia única de estilo y cuidado personal.
            </p>
            <p>
              Ven y disfruta de un servicio excepcional. ¡Haz tu cita y
              experimenta lo mejor del cuidado masculino en un solo lugar!
            </p>
          </div>
          <div>
            <img src="img/inicio/barberia.jpg" alt="Imagen de Barbería" />
          </div>
        </div>
      </section>
    </main>
    <!-- Pie de pagina -->

    <footer>
      <p>
        <a href="AcercaDe.html" class="PieDePagina"
          >Esta es una empresa ficticia y este sitio web es un proyecto de
          prácticas.<br />
          © 2025 Peluquería Barbers. Todos los derechos reservados.</a
        >
      </p>
    </footer>

    <script>
      //Declarciones
      let lastScrollTop = 0;
      let isScrolling;
      const header = document.querySelector("header");

      // Oculta y muestra el header al hacer scroll
      window.addEventListener("scroll", function () {
        let scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
          header.style.top = "-100px"; // Ajusta según el tamaño de tu cabecera
        } else {
          header.style.top = "0";
        }

        clearTimeout(isScrolling);
        isScrolling = setTimeout(function () {
          header.style.top = "0";
        }, 1000);

        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
      });

      // Función para mostrar u ocultar el menú en móviles
      function toggleMenu() {
        const menu = document.getElementById("menu");
        menu.classList.toggle("active");
      }
    </script>
  </body>
</html>
