<!DOCTYPE html>
<html lang="es">
  <app-head />
  <body>
    <!-- Encabezado con logotipo y navegación -->
    <app-header></app-header>
    <!-- Sección principal -->
    <main>
      <section class="about">
        <h1>Acerca de Nosotros</h1>
        <p>
          Esta es una empresa ficticia y este sitio web es un proyecto de
          prácticas.
        </p>
        <p>© 2025 Peluquería Barbers. Todos los derechos reservados.</p>
      </section>
    </main>
    <!-- Pie de página -->
    <app-footer></app-footer>
  </body>
</html>
